$font-family: "WayoIcons";

@font-face {
  font-family: $font-family;
  src : url($font-path+"/icomoon.ttf") format("truetype"),
  url($font-path+"/icomoon.woff") format("woff"),
  url($font-path+"/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.wayo-icon {
    display: inline-block;
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}

.wayo-icon-cny::before{
  content: "\e911";
}
.wayo-icon-phone::before{
  content: "\e900";
}
.wayo-icon-location::before{
  content: "\e901";
}
.wayo-icon-arrow-right::before{
  content: "\e915";
}
.wayo-icon-arrow-left::before{
  content: "\e913";
}
.wayo-icon-arrow-top::before{
  content: "\e902";
}
.wayo-icon-arrow-down::before{
  content: "\e914";
}
.wayo-icon-arrow-long-right::before{
  content: "\e922";
}
.wayo-icon-arrow-long-left::before{
  content: "\e921";
}
.wayo-icon-arrow-long-top::before{
  content: "\e91e";
}
.wayo-icon-arrow-long-bottom::before{
  content: "\e920";
}
.wayo-icon-cry::before{
  content: "\e91c";
}
.wayo-icon-scene::before{
  content: "\e903";
}
.wayo-icon-clock::before{
  content: "\e904";
}
.wayo-icon-bus::before{
  content: "\e905";
}
.wayo-icon-hotel::before{
  content: "\e906";
}
.wayo-icon-food::before{
  content: "\e907";
}
.wayo-icon-cinema::before{
  content: "\e908";
}
.wayo-icon-more::before{
  content: "\e909";
}
.wayo-icon-station::before{
  content: "\e90a";
}
.wayo-icon-nav::before{
  content: "\e90b";
}
.wayo-icon-share::before{
  content: "\e90c";
}
.wayo-icon-share-fill::before{
  content: "\ea82";
}
.wayo-icon-star-stroke::before{
  content: "\e90d";
}
.wayo-icon-star-half::before{
  content: "\e912";
}
.wayo-icon-location-mistake::before{
  content: "\e90e";
}
.wayo-icon-location-around::before{
  content: "\e90f";
}
.wayo-icon-star-fill::before{
  content: "\e910";
}
.wayo-icon-business::before{
  content: "\e916";
}
.wayo-icon-food-2::before{
  content: "\e917";
}
.wayo-icon-gym::before{
  content: "\e918";
}
.wayo-icon-park::before{
  content: "\e919";
}
.wayo-icon-wifi::before{
  content: "\e91a";
}
.wayo-icon-meeting::before{
  content: "\e91b";
}
.wayo-icon-smile::before{
  content: "\e91d";
}
.wayo-icon-cry::before{
  content: "\e91c";
}
.wayo-icon-subway::before{
  content: "\e91f";
}
.wayo-icon-camera::before{
  content: "\e923";
}
.wayo-icon-mic::before{
  content: "\e924";
}
.wayo-icon-compass-left::before{
  content: "\e949";
}
.wayo-icon-compass-right::before{
  content: "\e94a";
}
.wayo-icon-compass-circle::before{
  content: "\e94b";
}
.wayo-icon-map-fill::before{
  content: "\e94c";
}
.wayo-icon-map::before{
  content: "\e94d";
}
.wayo-icon-loading{
  @include animation(rotating 2s linear infinite);
  &::before{
    content: "\e97c";
  }
}
.wayo-icon-search::before{
  content: "\e986";
}
.wayo-icon-gift::before{
  content: "\e99f";
}
.wayo-icon-sphere::before{
  content: "\e9c9";
}
.wayo-icon-earth::before{
  content: "\e9ca";
}
.wayo-icon-plus::before{
  content: "\ea0a";
}
.wayo-icon-minus::before{
  content: "\ea0b";
}
.wayo-icon-close-circle::before{
  content: "\ea0d";
}
.wayo-icon-close::before{
  content: "\ea0f";
}
.wayo-icon-checkmark::before{
  content: "\ea10";
}