.wayo-lath{
  position: relative;
  min-height: 40px;
  box-sizing: border-box;
  padding: 15px;
  overflow: hidden;
  line-height: 1;
  background-color: $color-white-1;
  &_inline{
    @include display-flex;
    .wayo-lath__head{
      margin-right: 10px;
    }
    .wayo-lath__content{
      margin-top: 0 !important;
      @include flex(1);
    }
  }
  &_content_header{
    .wayo-lath__content{
      margin-top: 10px;
    }
  }
  &_icon{
    padding-left: 40px;
  }
  &__icon-head{
    font-size: 16px;
    left: 15px;
    &_top{
      position: absolute;
      top: 21.5px;
      @include transform(translateY(-50%));
    }
    &_middle{
      @include middle-column();
    }
  }
  &__tail{
    font-size: 13px;
    position: absolute;
    right: 10px;
    line-height: 1;
    color: $color-grey-8;
    @include middle-column();
    &-label{
      font-size: 13px;
      display: inline-block;
      vertical-align: middle;
      color: $color-font-common;
    }
  }
  &__separator{
    &-top{
      top: 0;
      left: 0;
    }
    &-bottom{
      bottom: 0;
      left: 0;
    }
  }
  &__title{
    color: $color-font-primary;
    font-size: 15px;
    line-height: 1;
    display: block;
  }
  &__subtitle{
    color: $color-font-common;
    font-size: 13px;
    line-height: 1;
    display: block;
    margin-top: 5px;
  }
  &__content{
    font-size: 13px;
    position: relative;
    color: $color-font-primary;
    &_single-line{
      line-height: 1 !important;
      margin: 0 !important;
    }
    &-entity{
      overflow: hidden;
      margin: 0;
      line-height: 17px;
      margin: -2px 0;
    }
    &-action{
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0;
      padding: 0;
      text-align: right;
      color: $color-info;
    }
  }
}