.wayo-separator{
  display: inline-block;
  z-index: 1;
  &_direction{
    &_row{
      width: 100%;
      height: 1px;
    }
    &_column{
      width: 1px;
      height: 100%;
    }
  }
  &_absolute{
    position: absolute;
  }
}