.wayo-tab{
  position: relative;
  overflow: hidden;
  background-color: $color-white-1;
}
.wayo-tab__separator{
  &-top{
    top: 0;
    left: 0;
  }
  &-bottom{
    bottom: 0;
    left: 0;
  }
  &-nav{
    @extend .wayo-tab__separator-bottom;
  }
}
.wayo-tab__nav{
  position: relative;
  white-space: nowrap;
  transition: all 0.1s ease-in-out;
  &-pointer{
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $color-primary;
    transition: all 0.1s ease-in-out;
    z-index: 10;
  }
  &_flex{
    .wayo-tab-bar{
      width: 25%;
    }
  }
}
.wayo-tab-bar{
  font-size: 14px;
  line-height: 1;
  padding: 14px 18px;
  display: inline-block;
  vertical-align: middle;
  color: $color-font-primary;
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
  &_active{
    color: $color-primary;
  }
  &__label{
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
  }
  &_stripe{
    color: $color-primary;
    background-color: $color-white-1;
    border: solid 1px $color-primary;
    padding: 5px 15px;
    &:nth-child(n+2){
      border-left: none;
    }
    &:first-child{
      @include border-radius(4px 0 0 4px);
    }
    &:last-child{
      @include border-radius(0 4px 4px 0);
    }
    &.wayo-tab-bar_active{
      color: $color-white-1;
      background-color: $color-primary;
    }
  }
}
.wayo-tab__content{
  position: relative;
}