.wayo-toast{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 110;
  &::before{
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &_mask{
    &::before{
      content: '';
      background-color: #000;
      opacity: 0.6;
    }
    .wayo-toast__box::after{
      opacity: 1;
    }
  }
}
.wayo-toast__box{
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 90%;
  min-width: 150px;
  z-index: 100;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  color: $color-white-1;
  padding: 15px;
  box-sizing: border-box;
  @include transform(translate(-50%, -50%));
  &::after{
    background-color: #000;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
  }
}
.wayo-toast__icon{
  font-size: 20px;
  margin-bottom: 10px;
}
.wayo-toast__message{
  font-size: 13px;
  line-height: 1;
  display: block;
  margin-top: 5px;
  &:first-child{
    margin: 0;
  }
}

#wayo-toast__loading-path{
  stroke-dasharray: 2,60;
  stroke-dashoffset: -32;
  -webkit-animation: dash 3s ease-in-out infinite;
  animation: dash 3s ease-in-out infinite;
}