{
  "presets": [
    ["env", {
      "loose": false,
      "modules": false,
      "spec": true,
      "targets": {
        "browsers": [
          "last 3 Chrome versions",
          "last 3 Firefox versions",
          "iOS >= 8",
          "Android >= 4"
        ]
      },
      "useBuiltIns": "usage",
      "debug": false
    }],
    "stage-3"
  ],
  "plugins": [
    "transform-object-assign",
    "transform-es5-property-mutators",
    "syntax-dynamic-import",
    "transform-vue-jsx",
    "transform-class-properties"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env","stage-3"],
      "plugins": [
        "transform-es5-property-mutators",
        "syntax-dynamic-import",
        "transform-vue-jsx",
        "transform-class-properties"
      ]
    }
  }
}