@mixin coverbg() {
  content: '';
  display: block;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -1;
}

@mixin nonstyleList() {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin strictHeight($size) {
  height: $size;
  line-height: $size;
}

@mixin transform($rule) {
  -webkit-transform: $rule;
  -moz-transform: $rule;
  -ms-transform: $rule;
  -o-transform: $rule;
  transform: $rule;
}

@mixin transform-origin($rule) {
  -webkit-transform-origin: $rule;
  -moz-transform-origin: $rule;
  -ms-transform-origin: $rule;
  -o-transform-origin: $rule;
  transform-origin: $rule;
}

@mixin border-radius($rule) {
  -webkit-border-radius: $rule;
  -moz-border-radius: $rule;
  -ms-border-radius: $rule;
  -o-border-radius: $rule;
  border-radius: $rule;
}

@mixin box-shadow($rule) {
  -webkit-box-shadow: $rule;
  -moz-box-shadow: $rule;
  -ms-box-shadow: $rule;
  -o-box-shadow: $rule;
  box-shadow: $rule;
}

@mixin display-flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-wrap($rule) {
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: $rule;
  -moz-flex-wrap: $rule;
  -o-flex-wrap: $rule;
  flex-wrap: $rule;
}

@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
  -moz-flex-flow: $flow;
  -ms-flex-flow: $flow;
  flex-flow: $flow;
}

@mixin flex-grow($grow) {
  -webkit-flex-grow: $grow;
  -moz-flex-grow: $grow;
  -ms-flex-grow: $grow;
  flex-grow: $grow;
}

@mixin flex-basis($width) {
  -webkit-flex-basis: $width;
  -moz-flex-basis: $width;
  -ms-flex-basis: $width;
  flex-basis: $width;
}

@mixin flex-shrink($shrink) {
  -webkit-flex-shrink: $shrink;
  -moz-flex-shrink: $shrink;
  -ms-flex-shrink: $shrink;
  flex-shrink: $shrink;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin flex($rule) {
  -webkit-box-flex: $rule;
  -moz-box-flex: $rule;
  -webkit-flex: $rule;
  -ms-flex: $rule;
  flex: $rule;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
  -ms-flex-pack: $justify;
}

@mixin align-content($align) {
  -webkit-align-content: $align;
  -moz-align-content: $align;
  -ms-align-content: $align;
  align-content: $align;
}

@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}

@mixin align-self($align) {
  -webkit-align-self: $align;
  -moz-align-self: $align;
  -ms-align-self: $align;
  align-self: $align;
}

@mixin animation($rule) {
  -webkit-animation: $rule;
  -moz-animation: $rule;
  -o-animation: $rule;
  animation: $rule;
}

@mixin select-disable() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@mixin middle-column(){
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
}

@mixin middle-row(){
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
}

@mixin middle-all(){
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%,-50%));
}