/* 白色系 */
$color-white-1: #ffffff;

/* 黑色系 */
$color-black-1: #333333;
$color-black-2: #2e2e2e;
$color-black-3: #000000;

/* 灰色系 */
$color-grey-1: #999999;
$color-grey-2: #cfcfcf;
$color-grey-3: #6d6d6d;
$color-grey-4: #5f5f5f;
$color-grey-5: #cccccc;
$color-grey-6: #d6d6d6;
$color-grey-7: #f4f4f4;
$color-grey-8: #7d7d7d;

/* 蓝色系 */
$color-blue-1: #067ffa;
$color-blue-2: #4abce7;
$color-blue-3: #6fa3f3;

/* 红色系 */
$color-red-1: #ff0000;
$color-red-2: #ee708d;
$color-red-3: #ed5026;

/* 橘色系 */
$color-orange-1: #f39800;
$color-orange-2: #fbae41;
$color-orange-3: #fbbf10;
$color-orange-4: #fd8848;

/* 绿色系 */
$color-green-1: #67c23a;
$color-green-2: #8ed866;
$color-green-3: #48c6b0;
