/* primary */
$color-primary: #ed5026;

/* status */
$color-info: #067ffa;
$color-success: #45cd09;
$color-warning: #f39800;
$color-danger: #f43838;
$color-disabled: #cccccc;

/* font */
$color-font-primary: #333333;
$color-font-common: #5f5f5f;
$color-font-minor: #999999;
$color-font-placeholder: #cccccc;
