@mixin coverbg() {
  content: '';
  display: block;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -1;
}

@mixin nonstyleList() {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin strictHeight($size) {
  height: $size;
  line-height: $size;
}